*~
\#*\#
.\#*
*.elc
elpa/
auto-complete-*/
ac-dict/
server/
tutorial/
ispell-aspell-dictionary-alist
eshell/lastdir
session.*
ac-comphist.dat
*.cache
saveplace
history
history.zip
tramp
url/
desktop/
newsticker/
/my-feeds.el
/places
