[submodule "site-lisp/tango-plus-theme"]
	path = site-lisp/tango-plus-theme
	url = git@github.com:vlevit/tango-plus-theme.git
[submodule "site-lisp/key-seq"]
	path = site-lisp/key-seq
	url = git@github.com:vlevit/key-seq.el.git
[submodule "site-lisp/find-file-in-repository"]
	path = site-lisp/find-file-in-repository
	url = git@github.com:vlevit/find-file-in-repository.git
[submodule "site-lisp/auto-dictionary-mode"]
	path = site-lisp/auto-dictionary-mode
	url = git@github.com:vlevit/auto-dictionary-mode.git
[submodule "site-lisp/find-project"]
	path = site-lisp/find-project
	url = git@github.com:vlevit/find-project.el.git
